*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
}

body{
    background-color: gray;
}

header{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header a{
    margin: 10px;
}

.lips{
    color: black;
    text-align: center;
    margin: 30px;
}

.pheader{
    color: white;
}

.titleip{
    color: black;
}

.hr2{
    background-color: black;
    margin-top: 60px;
}

.members{
    align-items: center;
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

footer{
    background-color: black;
    margin-top: 120px;
    padding: 30px;
}

.copy{
    text-align: center;
}

/* Responsive */
@media only screen and (max-width: 1200px){
    header{
        flex-direction: column;
        height: 200px;
        align-items: center;
    }

    .pheader{
        font-size: 10px;
    }

    .titleip{
        font-size: 30px;
    }

    .members{
        font-size: 15px;
    }

    footer{
        margin-top: 330px;
    }
}