*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
}

body{
    background-color: gray;
}

header{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header a{
    margin: 10px;
}

.lips{
    color: black;
    text-align: center;
    margin: 30px;
}

.section1{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 30px;
}

.scratchs{
    display: block;
    background-color: slategray;
    max-width: 40%;
    border-radius: 10px;
}

.scratchs p{
    color: black;
    margin: 10px;
}

h2{
    margin: 10px;
    color: black;
}

.videos{
    margin: 50px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.tinkercad{
    display: block;
    background-color: slategray;
    max-width: 30%;
    border-radius: 10px;
}

.tinkercad p{
    color: black;
    margin: 10px;
}

hr{
    margin: 10px;
    color: black;
}

footer{
    background-color: black;
}

.copy{
    text-align: center;
}

/* Reponsive */

@media only screen and (max-width: 1200px){
    header{
        flex-direction: column;
        height: 200px;
        align-items: center;
    }

    .pheader{
        font-size: 10px;
    }

    .scratchs{
        max-width: 90%;
    }

    .videos{
        flex-direction: column;
        max-width: 100%;
    }

    .tinkercad{
        max-width: 90%;
    }
}
